.ve/

.env

my_package.egg-info/

# exclude __pycache__ and *.pyc files
src/**/__pycache__/
src/**/*.pyc

# Ignore all files in data/ directory
data/*/*

# But don't ignore .gitkeep files
!data/*/.gitkeep
